@mixin declare-font-face(
	$font-family,
	$font-filename,
	$font-weight	:normal,
	$font-style		:normal,
	$font-stretch	:normal
){
	@font-face{
		fomt-family:'#{$font-family}';
		src: url(font-path('#{font-filename}.eot'));
		src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
		url(font-path('#{$font-filename}.woff')) format('woff'),
		url(font-path('#{$font-filename}.ttf')) format('truetype'),
		url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

@each @font in $define_fonts{
	@include declare-font-face(
		nth($font,1),
		nth($font,2),
		nth($font,3),
		nth($font,4),
		nth($font,5)
	);
	.nth($font,1){
		font-family:nth($font,1);
	}
}


@mixin font($family:inherit,$size:16px,$weight:400,$transform:none,$variant:none){
	font-family:	$family;
	font-size:		$size;
	font-weight:	$weight;
	font-variant:	$variant;
	text-transform:	$transform;
}


.superbold{
	font-weight:800;
}
.bold{
	font-weight:700;
}
.semibold{
	font-weight:600;
}
.medium{
	font-weight:500;
}
.normal{
	font-weight:400;
}
.book{
	font-weight:300;
}
.light{
	font-weight:200;
}
.extralight{
	font-weight:100;
}

.italic{
	font-style:italic;
}