
/* Cross browser */

@mixin browser($property,$settings){
	-webkit-#{$property}:	$settings;
	   -moz-#{$property}:	$settings;
	    -ms-#{$property}:	$settings;
	     -o-#{$property}:	$settings;
	        #{$property}:	$settings;
}


/* Sizes */

@mixin dims($width,$height){
	width:			$width;
	height:			$height;
}

@mixin box($padding:0px,$border:0px,$margin:0px){
	padding:		$padding;
	border:			$border;
	margin:			$margin;
}


@mixin position($type:relative,$top:auto,$left:0px,$bottom:0px,$right:0px){
	position:		$type;
	top:			$top;
	left:			$left;
	bottom:			$bottom;
	right:			$right;
}


/* Clears */

@mixin clear_anchors(){
	a{
		text-decoration:none;
		color:inherit;
	}
}
@mixin clear_box(){
	*{
		@include box();
	}
}
@mixin clear_lists(){
	ul{
		list-style:none;
		li{
			display:inline-block;
		}
	}
}

@mixin clear_box-sizing($sizing:border-box){
	*{
		@include browser(box-sizing,$sizing);
		&:before{
			@include browser(box-sizing,$sizing);
		}
		&:after{
			@include browser(box-sizing,$sizing);
		}
	}
}

@mixin clear_psuedo(){
	*:before,*:after{
		display:block;
		position:absolute;
		content:"";
	}
}

@mixin clear_appearance(){
	select{
		-webkit-appearance: none !important;
	}
}

@mixin clear_set(){
	@include clear_box-sizing();
	*{
		font-family:inherit;
		font-weight:inherit;
	}
	@include clear_psuedo();
	@include clear_anchors();
	@include clear_box();
	@include clear_lists();
	@include clear_appearance();
}


/* Colors */

@mixin gradient($start:top,$start_color:#FFF,$end_color:#000){
	background-image: -webkit-linear-gradient($start,$startcolor 0%,$end_color 100%);
	background-image:    -moz-linear-gradient($start,$startcolor 0%,$end_color 100%);
	background-image:     -ms-linear-gradient($start,$startcolor 0%,$end_color 100%);
	background-image:      -o-linear-gradient($start,$startcolor 0%,$end_color 100%);
	background-image:         linear-gradient(to $start,$startcolor 0%,$end_color 100%);
}


/* Styles */

@mixin border-radius($radius){
	@include browser(border-radius,$radius);
}

@mixin box-shadow($settings){
	@include browser(box-shadow,$settings);
}

@mixin text-shadow($settings){
	@include broswer(text-shadow,$settings);
}

@mixin transition($what:all,$duration:300ms,$easing:linear){
	@include broswer(transition,$what $duration $easing)
}


/* Functions */
/*
@function is_in($item,$list){
	@each $check in $list{
		@if $item == $check{
			@return true;
		}
	}
	@return false;
}

@function car($list){
	@return nth($list,1)
}

@function cdr($list){
	$ret:();
	@for $i 2 through length($list){
		append($ret,nth($list,$i));
	}
	@return $ret;
}
*/
