.red-fg {
  color: #e74c3c; }

.red-bg {
  background-color: #e74c3c; }

.red-comp-fg {
  color: #3cd7e7; }

.red-comp-bg {
  background-color: #3cd7e7; }

.red-gray-fg {
  color: #929292; }

.red-gray-bg {
  background-color: #929292; }

.darkred-fg {
  color: #c0392b; }

.darkred-bg {
  background-color: #c0392b; }

.darkred-comp-fg {
  color: #2bb2c0; }

.darkred-comp-bg {
  background-color: #2bb2c0; }

.darkred-gray-fg {
  color: #767676; }

.darkred-gray-bg {
  background-color: #767676; }

.orange-fg {
  color: #e67e22; }

.orange-bg {
  background-color: #e67e22; }

.orange-comp-fg {
  color: #228ae6; }

.orange-comp-bg {
  background-color: #228ae6; }

.orange-gray-fg {
  color: #848484; }

.orange-gray-bg {
  background-color: #848484; }

.darkorange-fg {
  color: #d35400; }

.darkorange-bg {
  background-color: #d35400; }

.darkorange-comp-fg {
  color: #007fd3; }

.darkorange-comp-bg {
  background-color: #007fd3; }

.darkorange-gray-fg {
  color: #6a6a6a; }

.darkorange-gray-bg {
  background-color: #6a6a6a; }

.yellow-fg {
  color: #f1c40f; }

.yellow-bg {
  background-color: #f1c40f; }

.yellow-comp-fg {
  color: #0f3cf1; }

.yellow-comp-bg {
  background-color: #0f3cf1; }

.yellow-gray-fg {
  color: gray; }

.yellow-gray-bg {
  background-color: gray; }

.darkyellow-fg {
  color: #f39c12; }

.darkyellow-bg {
  background-color: #f39c12; }

.darkyellow-comp-fg {
  color: #1269f3; }

.darkyellow-comp-bg {
  background-color: #1269f3; }

.darkyellow-gray-fg {
  color: #838383; }

.darkyellow-gray-bg {
  background-color: #838383; }

.green-fg {
  color: #2ecc71; }

.green-bg {
  background-color: #2ecc71; }

.green-comp-fg {
  color: #cc2e89; }

.green-comp-bg {
  background-color: #cc2e89; }

.green-gray-fg {
  color: #7d7d7d; }

.green-gray-bg {
  background-color: #7d7d7d; }

.darkgreen-fg {
  color: #27ae60; }

.darkgreen-bg {
  background-color: #27ae60; }

.darkgreen-comp-fg {
  color: #ae2775; }

.darkgreen-comp-bg {
  background-color: #ae2775; }

.darkgreen-gray-fg {
  color: #6b6b6b; }

.darkgreen-gray-bg {
  background-color: #6b6b6b; }

.greenblue-fg {
  color: #1abc9c; }

.greenblue-bg {
  background-color: #1abc9c; }

.greenblue-comp-fg {
  color: #bc1a3a; }

.greenblue-comp-bg {
  background-color: #bc1a3a; }

.greenblue-gray-fg {
  color: #6b6b6b; }

.greenblue-gray-bg {
  background-color: #6b6b6b; }

.darkgreenblue-fg {
  color: #16a085; }

.darkgreenblue-bg {
  background-color: #16a085; }

.darkgreenblue-comp-fg {
  color: #a01631; }

.darkgreenblue-comp-bg {
  background-color: #a01631; }

.darkgreenblue-gray-fg {
  color: #5b5b5b; }

.darkgreenblue-gray-bg {
  background-color: #5b5b5b; }

.blue-fg {
  color: #3498db; }

.blue-bg {
  background-color: #3498db; }

.blue-comp-fg {
  color: #db7734; }

.blue-comp-bg {
  background-color: #db7734; }

.blue-gray-fg {
  color: #888888; }

.blue-gray-bg {
  background-color: #888888; }

.darkblue-fg {
  color: #2980b9; }

.darkblue-bg {
  background-color: #2980b9; }

.darkblue-comp-fg {
  color: #b96229; }

.darkblue-comp-bg {
  background-color: #b96229; }

.darkblue-gray-fg {
  color: #717171; }

.darkblue-gray-bg {
  background-color: #717171; }

.violet-fg {
  color: #9b59b6; }

.violet-bg {
  background-color: #9b59b6; }

.violet-comp-fg {
  color: #74b659; }

.violet-comp-bg {
  background-color: #74b659; }

.violet-gray-fg {
  color: #888888; }

.violet-gray-bg {
  background-color: #888888; }

.darkviolet-fg {
  color: #8e44ad; }

.darkviolet-bg {
  background-color: #8e44ad; }

.darkviolet-comp-fg {
  color: #63ad44; }

.darkviolet-comp-bg {
  background-color: #63ad44; }

.darkviolet-gray-fg {
  color: #787878; }

.darkviolet-gray-bg {
  background-color: #787878; }

.black-fg {
  color: #34495e; }

.black-bg {
  background-color: #34495e; }

.black-comp-fg {
  color: #5e4934; }

.black-comp-bg {
  background-color: #5e4934; }

.black-gray-fg {
  color: #494949; }

.black-gray-bg {
  background-color: #494949; }

.darkblack-fg {
  color: #2c3e50; }

.darkblack-bg {
  background-color: #2c3e50; }

.darkblack-comp-fg {
  color: #503e2c; }

.darkblack-comp-bg {
  background-color: #503e2c; }

.darkblack-gray-fg {
  color: #3e3e3e; }

.darkblack-gray-bg {
  background-color: #3e3e3e; }

.grey-fg {
  color: #95a5a6; }

.grey-bg {
  background-color: #95a5a6; }

.grey-comp-fg {
  color: #a69695; }

.grey-comp-bg {
  background-color: #a69695; }

.grey-gray-fg {
  color: #9e9e9e; }

.grey-gray-bg {
  background-color: #9e9e9e; }

.darkgrey-fg {
  color: #7f8c8d; }

.darkgrey-bg {
  background-color: #7f8c8d; }

.darkgrey-comp-fg {
  color: #8d807f; }

.darkgrey-comp-bg {
  background-color: #8d807f; }

.darkgrey-gray-fg {
  color: #868686; }

.darkgrey-gray-bg {
  background-color: #868686; }

.white-fg {
  color: #ecf0f1; }

.white-bg {
  background-color: #ecf0f1; }

.white-comp-fg {
  color: #f1edec; }

.white-comp-bg {
  background-color: #f1edec; }

.white-gray-fg {
  color: #efefef; }

.white-gray-bg {
  background-color: #efefef; }

.darkwhite-fg {
  color: #bdc3c7; }

.darkwhite-bg {
  background-color: #bdc3c7; }

.darkwhite-comp-fg {
  color: #c7c1bd; }

.darkwhite-comp-bg {
  background-color: #c7c1bd; }

.darkwhite-gray-fg {
  color: #c2c2c2; }

.darkwhite-gray-bg {
  background-color: #c2c2c2; }
