
$button-base-tag: '.button';
@mixin button-base($tag:'.button'){
	$button-base-tag: $tag;
	#{$tag}{
		position:relative;
		text-align:center;
		@include border-radius(6px);
		&:active{
			top:2px;
		}
	}
}
@mixin button($tag:'.black',$bg:color(black),$fg:color(white)){
	#{$button-base-tag}#{$tag}{
		background-color:$bg;
		color:$fg;
		box-shadow:0px 2px 0px darken($bg,10%);
		&:hover{
			background-color:lighten($bg,5%);
		}
		&:active{
			background-color:darken($bg,10%);
			box-shadow:inset 0px 2px 0px darken($bg,20%);
		}
	}
}