
@mixin dropdown($tag:'.dropdown',$bg:color(black),$fg:color(white)){
	#{$tag}{
		background:$bg;
		color:$fg;
		outline:none;
		text-align:left;
		&:hover{
			background-color:lighten($bg,5%);
		}
		&:active{
			background-color:darken($bg,10%);
		}
	}
}