@import "../_utils.scss";
@import "../_classes.scss";

/** COLORS **/

$define_colors:
	red 			rgb(231, 076, 060),
	darkred 		rgb(192, 057, 043),

	orange			rgb(230, 126, 034),
	darkorange		rgb(211, 084, 000),

	yellow 			rgb(241, 196, 015),
	darkyellow		rgb(243, 156, 018),

	green			rgb(046, 204, 113),
	darkgreen		rgb(039, 174, 096),

	greenblue		rgb(026, 188, 156),
	darkgreenblue	rgb(022, 160, 133),

	blue			rgb(052, 152, 219),
	darkblue		rgb(041, 128, 185),

	violet			rgb(155, 089, 182),
	darkviolet		rgb(142, 068, 173),

	black			rgb(052, 073, 094),
	darkblack		rgb(044, 062, 080),

	grey			rgb(149, 165, 166),
	darkgrey		rgb(127, 140, 141),

	white			rgb(236, 240, 241),
	darkwhite		rgb(189, 195, 199)

	!default;

@import "../_lib_colors.scss";

/** ICONS **/
@import "_icons.scss";


/** BUTTONS **/

@mixin button($tag:'.button',$bg:color(black),$fg:color(white)){
	#{$tag}{
		background-color:$bg;
		color:$fg !important;
		box-shadow:0px 2px 0px darken($bg,10%);
		position:relative;
		text-align:center;
		@include border-radius(6px);
		&:hover{
			background-color:lighten($bg,5%);
		}
		&:active{
			background-color:darken($bg,10%);
			box-shadow:inset 0px 2px 0px darken($bg,20%);
			top:2px;
		}
	}
}

/** ACCORDIONS **/
@mixin accordion($tag:'.accordion',$hbg:color(black),$cbg:null,$fg:color(white)){
	#{$tag}{
		@include border-radius(10px);
		overflow:hidden;
		&>*:nth-child(2n+1){
			cursor:pointer;
			outline:none;
			color:$fg;
			background:$hbg;
			&:not(:last-child){
				border-bottom:1px solid darken($hbg,3%);
			}
		}
		&>*:nth-child(2n){
			color:$fg;
			margin-left:-1px;
			margin-right:-1px;
			@if $cbg == null{
				background:darken($hbg,7%);
				box-shadow: 
					inset 0px 2px 0px darken($hbg,10%),
					inset 0px -1px 0px darken($hbg,10%);
			} @else {
				background:$cbg;
				box-shadow: 
					inset 0px 2px 0px darken($cbg,10%),
					inset 0px -1px 0px darken($cbg,10%);
			}
			
			
		}
	}
}




