@import "../../../scss/flat/_flat.scss";

.buttons{
	width:100%;
	display:block;
	text-align:center;
}
.button{
	padding:7px 30px;
	margin:20px;
	float:left;
	display:block;
}

@include button-base();

@include button('.red',color(red));
@include button('.orange',color(orange));
@include button('.yellow',color(yellow));
@include button('.green',color(green));
@include button('.greenblue',color(greenblue));
@include button('.blue',color(blue));
@include button('.violet',color(violet));
@include button('.black',color(black));
@include button('.grey',color(grey));
@include button('.white',color(white),color(darkgrey));